:root {
  --iris: #4d5ae5;
  --navy-blue: #2e2f42;
  --slate: #434455;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
  --ocean: #404bbf;
  --white: #ffffff;
  --light: rgba(231, 233, 252, 0.1);
}

body {
  font-family: "roboto", sans-serif;
  color: var(--navy-blue);
  letter-spacing: 0.02em;
}

.header-web {
  color: var(--iris);
  font-family: raleway, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.03em;
}
.header-logo {
  text-decoration: none;
  color: var(--navy-blue);
  font-family: "raleway", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.03em;
}
.header-list {
  list-style: none;
}
.header-nav {
  text-decoration: none;
  color: var(--navy-blue);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.33;
}
.header-nav:hover,
.header-nav:focus {
  color: var(--iris);
}
.contact-list {
  list-style: none;
}
.header-contact {
  color: var(--slate);
  font-style: normal;
  font-family: "roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
}
.header-contact:hover,
.header-contact:focus {
  color: var(--iris);
}


.section-main {
  background-color: var(--navy-blue);
  text-align: center;
}
.title {
  background-color: var(--navy-blue);
  color: var(--white);
  font-size: 56px;
  line-height: 1.07;
}
.order-btn {
  font-family: "roboto", sans-serif;
  background-color: var(--iris);
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.order-btn:focus,
.order-btn:hover {
  background-color: #404bbf;
  cursor: pointer;
}


.goal-list {
  list-style: none;
}
.headline {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.desc {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
}


.subtitle {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}
.work-list{
  list-style: none;
}


.team-section {
  background-color: var(--cloud);
}
.team-title {
  color: var(--navy-blue);
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}
.team-list {
  list-style: none;
}
.subject {
  background-color: var(--white);
}
.subject-name {
  color: var(--navy-blue);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.subject-desc {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
}


.footer {
  background-color: var(--navy-blue);
}
.footer-web {
  color: var(--iris);
  font-family: raleway, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.03em;
}
.footer-logo {
  color: var(--cloud);
  font-family: raleway, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.03em;
  font-style: normal;
  text-decoration: none;
}
.footer-text {
  color: var(--cornflower);
  font-size: 16px;
  line-height: 1.5;
}

/*page --portfolio*/

.btn-list {
  list-style: none;
}
.btn-portfolio {
  font-family: "Roboto", sans-serif;
  color: var(--iris);
  font-style: normal;
  background-color: var(--cloud);
  letter-spacing: 0.04em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  border-color: var(--light);
  border: 1px solid var(--cornflower);
  border-radius: 4px;
  cursor: pointer;
}
.btn-portfolio:hover,
.btn-portfolio:focus {
  color: var(--white);
  background-color: var(--ocean);
  cursor: pointer;
}
.menu {
  list-style: none;
}
.menu-link {
  text-decoration: none;
  color: var(--navy-blue);
}
.menu-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.menu-desc {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
}
