:root {
  --iris: #4d5ae5;
  --navy-blue: #2e2f42;
  --slate: #434455;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
  --ocean: #404bbf;
  --white: #ffffff;
}

body {
  font-family: "roboto", sans-serif;
  color: var(--navy-blue);
  letter-spacing: 0.02em;
}

.header-web {
  color: var(--iris);
  font-family: raleway, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
  line-height: 133%;
  letter-spacing: 0.03em;
}
.header-logo {
  color: var(--navy-blue);
  font-family: raleway, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
  line-height: 133%;
  letter-spacing: 0.03em;
}

.header-nav {
  color: var(--navy-blue);
  font-weight: 500;
  font-size: 16px;
  line-height: 133%;
}
.header-nav:hover,
.header-nav:focus {
  color: var(--iris);
}
.header-contact {
  color: var(--slate);
  font-size: 16px;
  line-height: 133%;
}
.header-contact:hover,
.header-contact:focus {
  color: var(--iris);
}

.body-section-one {
  background-color: var(--navy-blue);
  text-align: center;
}
.body-section-one h1 {
  background-color: var(--navy-blue);
  color: var(--white);
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
}
.section-one-btn {
  font-family: "roboto", sans-serif;
  background-color: var(--iris);
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 128%;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.section-one-btn:focus,
.section-one-btn:hover {
  background-color: #404bbf;
  cursor: pointer;
}
.body-section-two {
  background-color: var(--white);
}
.body-section-two h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 102%;
}
.body-section-two p {
  color: var(--slate);
  font-size: 16px;
  line-height: 128%;
}
.body-section-three {
  background-color: var(--white);
  text-align: center;
}
.body-section-three h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  text-align: center;
}
.body-section-four {
  background-color: var(--cloud);
  text-align: center;
}
.body-section-four h2 {
  color: var(--navy-blue);
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
}
.body-section-four h3 {
  color: var(--navy-blue);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
}
.body-section-four li {
  background-color: var(--white);
}
.body-section-four p {
  color: var(--slate);
  font-size: 16px;
  line-height: 150%;
}
.footer {
  background-color: var(--navy-blue);
}
.footer-web {
  color: var(--iris);
  font-family: raleway, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
  line-height: 133%;
  letter-spacing: 0.03em;
}
.footer-logo {
  color: var(--cloud);
  font-family: raleway, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
  line-height: 133%;
  letter-spacing: 0.03em;
}
.footer p {
  color: var(--cornflower);
  font-size: 16px;
  line-height: 150%;
}

.btn-portfolio {
  font-family: "Roboto", sans-serif;
  color: var(--iris);
  font-style: normal;
  background-color: var(--cloud);
  letter-spacing: 0.04em;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  border-color: rgba(231, 233, 252, 0.1);
  border-radius: 4px;
  cursor: pointer;
}

.btn-portfolio:hover,
.btn-portfolio:focus {
  color: #ffffff;
  background-color: var(--ocean);
  cursor: pointer;
}
.section-portfolio a > h2 {
  color: var(--navy-blue);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
}
.section-portfolio a > p {
  color: var(--slate);
  font-size: 16px;
  line-height: 150%;
}

li {
  list-style: none;
}
a {
  font-family: "Roboto";
  font-style: normal;
  text-decoration: none;
}
